
.wizard {
  position: relative;
  background: #fff;
  padding: 64px 58px 0;
  height: auto }

.wizard ul li{
  list-style: none;
}

.steps .current-info, .steps .number {
  display: none; 
}

.steps {
  position: absolute;
  right: 42px;
  top: 5px;
  z-index: 9; }
  .steps ul {
    position: relative; }
    .steps ul:before {
      content: "1";
      font-size: 40px;
      color: #ccc;
      font-family: "Poppins-Medium"; }
  /*  .steps ul:after {
      content: "/ 3";
      font-size: 15px;
      color: #ccc;
      font-family: "Poppins-Medium";
      position: absolute;
      left: 16px;
      top: 13px;
      width: 22px; }*/
    .steps ul.step-2:before {
      content: "2"; }
    .steps ul.step-2:after {
      left: 31px; }
    .steps ul.step-3:before {
      content: "3"; }
    .steps ul.step-3:after {
      left: 31px; }


.form-row {
  display: flex;
  margin-bottom: 25px; }
  .form-row .form-col {
    width: 50%;
    margin-right: 40px; }
    .form-row .form-col:last-child {
      margin-right: 0; }

.form-col label {
  color: #333;
  margin-bottom: 7px;
  display: block; }

.form-holder {
  position: relative; }
  .form-holder i:not(.zmdi-chevron-down) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 17px; }
  .form-holder i.zmdi-chevron-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 17px; }
  .form-holder.password i {
    cursor: pointer; }

.form-control {
  height: 42px;
  border: 1px solid #ccc;
  width: 100%;
  background: none;
  font-size: 15px;
  padding-left: 46px;
  color: #999;
  font-family: "Poppins-Medium";
  /* &::-webkit-input-placeholder { 
  	color: #333;
  }
  &::-moz-placeholder { 
  	color: #333;
  }
  &:-ms-input-placeholder { 
  	color: #333;
  }
  &:-moz-placeholder { 
  	color: #333;
  } */ }
  .form-control:focus {
    border-color: #3377c0; }

.actions ul {
  display: flex;
  justify-content: space-between;
  margin-top: 42px; }
  .actions ul.mt-7 {
    margin-top: 7px; }
.actions li a {
  border: none;
  display: inline-flex;
  height: 42px;
  width: 112px;
  align-items: center;
  color: #fff;
  cursor: pointer;
  background: #3377c0;
  text-transform: uppercase;
  justify-content: center;
  letter-spacing: 1px; }
  .actions li a:hover {
    background: #3b87d9; }
.actions li:first-child a {
  background: none;
  border: 1px solid #3377c0;
  color: #3377c0; }
  .actions li:first-child a:hover {
    border-color: transparent;
    color: #fff;
    background: #3b87d9; }
.actions li[aria-disabled="true"] a {
  display: none; }

